.block {
  background-color: #5F464B;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.text-color {
  color: #041B15 !important;
}

.but-color {
  background-color: #136F63 !important;
  color: #E7ECEF !important;
}

.but-color:hover {
  color: #041B15 !important;
}