.user-poll-card {
  background-color: #275068 !important;
  color: #e7ecef !important;
  border-radius: 8px;
  border: none;
  min-height: 240px;
}

.user-poll-card .card-body .card-title {
  color: #041B15 !important;
}


.but-color {
  background-color: #136F63 !important;
  color: #E7ECEF !important;
}

.but-color:hover {
  background-color: #16665b !important;  
  color: #041B15 !important;
}

.user-poll-card.poll-ended {
  opacity: 0.7;
  background-color: #3a5068 !important;
}

.user-poll-card .card-title,
.user-poll-card .card-text {
  color: #e7ecef !important;
}

.user-poll-card .btn-outline-primary {
  color: #e7ecef;
  border-color: #e7ecef;
}

.delete-btn {
  margin-right: 8px; /* optional spacing */
}

.user-poll-card .btn-outline-primary:hover {
  background-color: #e7ecef;
  color: #275068;
}

/* Make badge smaller & more compact */
.live-badge {
  width: 45px !important;
  font-size: 0.75rem !important;
  padding: 0.25em 0.3em !important;
  text-align: center;
}


.card-title {
  color: #e7ecef !important;
  font-weight: 600;
}

.card-text {
  color: #d1dce3 !important;
  font-size: 0.9rem;
}

.card {
  border-radius: 8px !important;
  border: none !important;
}

.badge-primary {
  background-color: #1da1f2 !important;
}

.badge-danger {
  background-color: #f45d22 !important;
}

button.btn-outline-light {
  color: #e7ecef !important;
  border-color: #e7ecef !important;
}

button.btn-outline-light:hover {
  background-color: #e7ecef !important;
  color: #275068 !important;
}
